/* BASE 
* {
  margin: 0;
}*/
  body{
    /*margin: 1px auto;*/
    background-color: #77a0bdbb;
    font-size: 16px;
  }
  h1{
    font-size: 60px;
    color: #68120c;
    align-items: center;
    text-align: center;
  }
  .principal {
    width: 100%;
  }
  figure{
    align-content: center;
  }
  .imagen{
    width: 75%;
    height: auto;
    border: 2px solid rgb(24, 23, 23);
    margin-left: 100px;
    margin-right: auto;
  }
  a {
    text-decoration: none;
    padding-right: 30px;
    font-size: 28px;
    color: black;
  }
  .nav{
    display: flex;
    color: #a1490e; 
    text-align: center;
    display: block;
    margin-bottom: 30px;
  }
  
  h2{
  font-size: 36px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align-last: center;
  color: #610d07c0;
  }

  .quienes, .preguntas{
    display: flex;
    text-align:justify;
    font-size: 14px;
    margin-left: 3px;
    margin-right: 3px;
  }
  
  /*imagenes marcas*/
  .marcas{
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    padding: auto;
    align-content: center;
    margin-bottom: 30px;
    }
  
  .img_marcas{
  width: 75%;
  height: auto;
  border: 2px solid rgb(5, 5, 5);
  }
  figcaption{
  font:italic normal 14px Georgia, "Times New Roman", Times, serif;
  color:#2388c77c;
  margin-left: 40px;
  }
  
/*preguntas*/
  ul{
    list-style: none;
  }

.fa-circle-question{
  color: rgba(167, 23, 23, 0.877);
  font-size: 30px;
  margin-right: 20px;
  margin-top: 20px;
  align-self: center;
}
.contacto{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 24px;
}
footer{
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}
.fa-instagram{
  color: rgba(172, 18, 95, 0.877);
}
.fa-youtube{
  color: rgba(114, 9, 9, 0.877);
}

/* ESCRIBENOS*/
.escribe{
  background-color: rgba(165, 82, 79, 0.719);
  color: rgb(26, 26, 54); /*color del texto*/
  width: 80%;
  height: auto;
  border: 3px solid rgb(68, 64, 64);
  font-size: 28px;
  margin-left: 90px;
  }

.nombre{
  font-size: 34px;
  margin-left: 10px;
}
.input{
  font-size: 28px;
  margin-left: 100px;
}
.input1{
  font-size: 28px;
  margin-left: 117px;
}
.mensaje{
  display: flex;
  align-items: center;
}
.enviar{
  margin-bottom: 5px;
  font-size: 34px;
  margin-left: 350px;
  
  }

/* MEDIA QUERIES */
@media screen and (min-width: 1024px) {
  .principal {
    width: 960px;
    margin: auto;
  }
  h2{
    font-size: 30px;
    }
    .quienes, .preguntas, .contacto{
           font-size: 24px;
     }
  figcaption{
    font-size: 20px;
  }
  a {
     padding-right: 40px;
    }
}





